<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (typeof VUE_APP_MERGE_REQUEST_ID !== 'undefined') { %>
    <script defer
            data-project-id='18397637'
            data-project-path='masakura/school-timetable'
            data-merge-request-id='<%= VUE_APP_MERGE_REQUEST_ID %>'
            data-mr-url='https://gitlab.com'
            id='review-app-toolbar-script'
            src='https://gitlab.com/assets/webpack/visual_review_toolbar.js'></script>
    <% } %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    </head>
  <body>
    <noscript>
      <strong>
        We're sorry but <%= htmlWebpackPlugin.options.title %>
        doesn't work properly without JavaScript enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
