<template>
  <section>
    <table class="timetable">
      <colgroup>
        <col class="timetable-period" />
      </colgroup>
      <colgroup>
        <col v-for="workday in workdays.asEnumerable()" :key="workday.key"
             class="timetable-dayOfWeek" />
      </colgroup>
      <thead>
      <tr>
        <th class="secondary lighten-5"></th>
        <th v-for="workday in workdays.asEnumerable()"
            :key="workday.key"
            class="secondary lighten-5">
          {{ workday.label }}
        </th>
      </tr>
      </thead>

      <tbody>
      <tr v-for="period in periods.asEnumerable()" :key="period.key">
        <th class="secondary lighten-5">{{ period.label }}</th>
        <td v-for="item in workdays.asEnumerable()" :key="item.key"></td>
      </tr>
      </tbody>
    </table>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Workdays } from '@/domain/day-of-week';
import { AvailablePeriods } from '@/domain/period/AvailablePeriods';

@Component
export default class SchoolTimetable extends Vue {
  readonly workdays = new Workdays();

  readonly periods = new AvailablePeriods();
}
</script>

<style scoped>
.timetable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.timetable-period {
  width: 2em;
}

.timetable td, .timetable th {
  border: grey solid 1px;
}

.timetable tbody tr {
  height: 5em;
}
</style>
